

<div id="index_wrapper">
  <% if current_user.try(:admin?) %> 
  	<%= link_to 'new_article_path', new_article_path %> 
  <% end %>

  <div id="index_container">
  

    <% @articles.each do |art| %>
      <div class="index_stick">
        
        <div class="index_thumb"> 
          <%= image_tag art.image.url(:thumb) %>
        </div>

        <div class="index_subject">
          <%= art.title %><br />
          <%= link_to 'show', article_path(art) %>
          <%= link_to 'Edit', edit_article_path(art) %>
          <%= link_to 'Destroy', article_path(art), method: :delete, data: { confirm: 'u sure??'} %><br />
          comments: <%= art.comments.count %>
        </div>

      </div>  
    <% end %>

  </div>
</div>