
<% meta og: {
     type: "article",
     title: @article.title,
     image: @article.image.url(:show),
     url: request.original_url,
     description: @article.text

   }%>



<div class='show_page_wrapper'>

	<div class='show_page_content'>
		
		<div class='show_title_bar'>
			<h1><%= @article.title %></h1>
		</div>

		<div class='show_info_bar'>
			<%= social_share_button_tag("my site") %>
		</div>
		
		<div class='show_image'>
			<%= image_tag @article.image.url(:featured) %>
		</div>
		
		<div class='show_words'>
			<%= @article.text.html_safe %>
		</div>

		<div class='show_comments'>

			<h1>Comments</h1>

			<div class = "add_comment">
			
						
				<%= form_for ([@article, @article.comments.build]) do |f|%>
					
					
						
					<% if user_signed_in? %>
	      				<%= image_tag(current_user.avatar.url(:thumb)) %>
	      				<%= f.text_area :picurl, :value => current_user.avatar.url %>
	  				<% else %>
	    			
	      				<%= image_tag("man100px.png") %>
	      			<% end %>



					<%= f.text_area :body, placeholder: "Write comment here" %>


					<%= f.submit "Post"%>
					<% if !user_signed_in? %>
												
						<%= f.text_field :commenter, placeholder: "Nickname" %>
						
					<% end %>
					
					
					
				
				<% end %>
			</div>
				
			<div class="display_comments">
				<% @article.comments.each do |comment| %>

					<p>
						<strong>Commenter:</strong>

						<%= comment.commenter %>
						<%= image_tag(comment.picurl) %>


					</p>
					<p>
						<strong>Comment:</strong>
						<%= comment.body %>
					</p>
					<p>
						<%= link_to 'distroy comment', [comment.article, comment], method: :delete, data: { confirm: 'u sure??'}%>
						
					</p>
				<% end %>
			
			</div>
		
		</div>
	
	
	<div class="show_aside">
		asfas dfgsdf asdfasdf sdfasdf
		asdfasdf asdfas f
		asdfasdf
		asdfasdfasdf
		asdfasdf
		asdfasdf

	</div>

</div>



<%= link_to 'back', articles_path %>
				<%= link_to 'edit', edit_article_path(@article) %>