
<html>
  <head>
    <title>Opentok Quick Start</title>
    <script src='http://static.opentok.com/v2/js/opentok.min.js'></script>
    <script type="text/javascript">

$(document).ready(function() {	    
    
    var publisher;
    var streams = [];
    var token = "<%= @token %>";
    var watchers = 0;
	var streamers = 0;
    
    
    function connect() {
	  if (OT.checkSystemRequirements() == 0) {
        console.log("The client does not support WebRTC.");
      } else {
        console.log("The client does support WebRTC.");
        session = OT.initSession("45266732", "<%= @session_id %>");
		
		//Initial session connection
		//Local user connects to the session
		session.on("sessionConnected", function(sessionConnectedEvent){
			console.log("sessionConnected by local user, watchers: "+watchers+" & streamers: "+ streamers);
		});	
			
		//session connection destroyed
		session.on("sessionDisconnected", function sessionDisconnectHandler(event) {
			console.log("Disconnected from the session.");
			watchers--;
	        //document.getElementById('disconnectBtn').style.display = 'none';
	        if (event.reason == "networkDisconnected") {
	          alert("Your network connection terminated.")
	        }
		});
        
        	
		
		//forign user connects to the session
		session.on("connectionCreated", function(event){
			var stream = event.stream;
            watchers++;
            console.log("connectionCreated by forign user, watchers: "+watchers+" & streamers: "+ streamers);
        });
		
		//session connection destroyed
		session.on("connectionDestroyed", function(event){
			console.log("session connection destroyed");
			watchers--;
        });
		
		
		
		//stream created by forign user
		session.on("streamCreated", function(event){
			console.log("new stream created by forign user")
		  	event.streams.forEach(function(stream){
		  		if(stream.connection.connectionId != session.connection.connectionId) {
		  			session.subscribe(stream, 'ivid2', {width:155, height:150, insertMode: 'append'});
		  			streamers++;
		  			console.log("sucsessfully subscribed to new forign stream, watchers: "+watchers+" & streamers: "+ streamers)
		  		}
		  	})
        });
		
		//Local user stoped publishing to the session
		session.on("streamDestroyed", function(event){
			streamers--;
			console.log("forign user stopped streaming, watchers: "+watchers+" & streamers: "+ streamers);
		});	
		
		
		
		      
      
        // Replace token with your own value:
        session.connect(token, function(error) {
          if (error) {
            OT.log("Unable to connect: ", error.message);
          } else {
            //document.getElementById('disconnectBtn').style.display = 'block';
            console.log("session.connect, Connected to the session.");
          }
        });
	  }
    }


  
function publish(){
  publisher = OT.initPublisher('ivid1', {width:155, height:150, insertMode: 'append'});
  session.publish(publisher);
  console.log("publisher object was created");
    
  //Local user started publishing to the session
  publisher.on("streamCreated", function(event){
  	streamers++;
    console.log("local publisher started streaming, watchers: "+watchers+" & streamers: "+ streamers);
  });	  
 
  //Local user stoped publishing to the session
  publisher.on("streamDestroyed", function(event){
  	streamers--;
    console.log("local publisher stopped streaming, watchers: "+watchers+" & streamers: "+ streamers);
    
  });	  
};  
      
      
      
     
function disconnect() {
  console.log("publisher dissstroyed")
  //publisher.destroy();
  session.unpublish(publisher);
  
};
		
		
		
  
$('#disconnectBtn').click( function () { 
  disconnect();
});
      
$('#start').click( function () {
  publish();
});
  

connect();

});
    </script>
  </head>
  <body>
    sessionID: <%= @session_id %><br />
    token: <%= @token %><br />
    <div id="streams_wrapper">
		<div id="streams_container">
	    	<div id="ovid1"><div id="ivid1"></div></div>
			<div id="ovid2"><div id="ivid2"></div></div>
			<div id="ovid3"><div id="ivid3"></div></div>
			<div id="ovid4"><div id="ivid4"></div></div>
			<div id="ovid5"><div id="ivid5"></div></div>
	    </div>
	    
		<div id="chats_aside">
			<h1>H1 tag</h1>
			<h3> test aside</h3>
			<button id="start">start</button>
			<button id="disconnectBtn">disconnect</button>
			token: <%= @token %><br/>
	    </div>
</div>
    
    
    
  </body>
</html>