<div id="main-stuff" class="featured_wrapper">
	<div class="featured_main">
		<div class="featured_content">	
			
			<% @article = Article.order("created_at").last %>
			<div class= "featured_title">
				<h2 class="title"><%= @article.title %></h2>
			</div>
			
			<div class="featured_time_stamp">
				posted on
				<%= @article.created_at.strftime('%B' + ' ' + @article.created_at.day.ordinalize + ' ' + '%Y') %>
				<!-- #{article.created_at.day.ordinalize} -->
			</div>
			
			<div class="featured_pic">
				<%= image_tag @article.image.url(:featured) %>
			</div>
			
			<div id="content" class="expandDiv">
				<%=raw @article.text %>
			</div>
		</div>
		
		
		
		
		
		
		<div class="the_rest">
			<% @articles = Article.last(7).each do |a| %>
				<li class="block">
					<div class="mini_image"><%= image_tag a.image.url(:thumb) %></div>
					<div class="mini_info"><%= a.created_at.strftime('%B' + ' ' + a.created_at.day.ordinalize + ' ' + '%Y') %></div>
					<div class="mini_text"><strong><%= a.title %></strong></div>
				</li>
			<% end %>
		</div>
		
		
		
	</div>
	
	
	
	
	<div id="left" class="side">
		<div id="subs" class="signup">
				
		  	<%= form_for :engage, url: {action: "create"}, remote: true do |f| %>
		  
	  		<%= f.text_field :email, :maxlength => "30", :onblur => "if (this.value == '') {this.value = 'EMAIL';}", :onfocus => "if(this.value == 'EMAIL') {this.value = '';}", :size => "5", :value => "EMAIL" %>

	  		<%= f.text_field :zip, :maxlength => "5", :onblur => "if (this.value == '') {this.value = 'ZIP';}", :onfocus => "if(this.value == 'ZIP') {this.value = '';}", :size => "5", :value => "ZIP" %>

			<%= f.submit 'Sign Up!', :class => 'subbutton' %>
			<% end %>
		</div>
	</div>
</div>	
