<div id="main-stuff" class="featured_wrapper">
	
	<div class="featured_main">
		
		<div class="featured_content">	
		
			<% @article = Article.order("created_at").last %>
			
			<div class= "featured_title">
				<h2 class="title"><%= @article.title %></h2>
			</div>
			
			<div class="featured_time_stamp">
				posted on
				<%= @article.created_at.strftime('%B' + ' ' + @article.created_at.day.ordinalize + ' ' + '%Y') %>
				
				<!-- #{article.created_at.day.ordinalize} -->
				
			</div>
			
			<div class="featured_pic">
				<%= image_tag @article.image.url(:featured) %>
				
			</div>
			<div id="content" class="expandDiv">
				<%=raw @article.text %>
			</div>
	
		</div>
		
		<div class="the_rest">
			
			<% @articles = Article.last(7).each do |a| %>
			
			
				<li class="block">
					<div class="mini_image"><%= image_tag a.image.url(:thumb) %></div>
					<div class="mini_info"><%= a.created_at.strftime('%B' + ' ' + a.created_at.day.ordinalize + ' ' + '%Y') %></div>
					<div class="mini_text"><strong><%= a.title %></strong></div>
				</li>
			
			<% end %>
			
			
		</div>
		
		
		
	</div>
	
	
	
	
	<div id="left" class="side.done">
		
	
		<div id="subs" class="signup">
				<%= form_for :engage, :url => engages_path, remote: true do |f| %>
		  
		  			<% if @sub.errors.any? %>
			  			<div id="errors">
				  			<h2> <%=  @sub.errors.count %> errors </h2>
				  
				  			<ul>
				  	
					  			<% @sub.errors.full_messages.each do |msg| %>
					  	
					  				<li>  <%= msg %></li>
					  			<% end %>
				  	
				  			</ul>
			  			</div>
		  			<% end %>
		  
	  				<p>
				    	<%= f.label :email %><br>
				    	<%= f.text_field :email %>
			  		</p>
				 
			  		<p>
			    		<%= f.label :zip %><br>
			    		<%= f.text_field :zip %>
			  		</p>
			  		<p>
			
			    		<%= f.submit %>
			  		</p>
				
				<% end %>
				
		</div>
	
		<div id="subs1" class="side.done">
		<H1> Thank You !!</H1>
		</div>
	
	</div>
	
	
	
</div>	
	
	
	
		
</div>
