<div id="main-stuff" class="featured_wrapper">
	<div class="featured_main">
		<div class="featured_content">	
			
			<% @article = Article.order("created_at").last %>
			<div class= "featured_title">
				<h2 class="title"><%= link_to @article.title, {:controller => 'articles', :action => 'show', :id => @article.id } %></h2>
			</div>
			
			<div class="featured_time_stamp">
				posted on
				<%= @article.created_at.strftime('%B' + ' ' + @article.created_at.day.ordinalize + ' ' + '%Y') %>
				<!-- #{article.created_at.day.ordinalize} -->
			</div>
			
			<div class="featured_pic">
				
				<%= link_to image_tag(@article.image.url(:featured)), {:controller => 'articles', :action => 'show', :id => @article.id } %>
				
			</div>
			
			<div id="content" class="expandDiv">
				<%=raw @article.text %>
			</div>
		</div>
		
			
		<div class="the_rest">
			<% @rticles = Article.offset(1).order("created_at").reverse_order().first(5).each do |a| %>
				<li class="block">
					<div class="mini_image"><%= link_to image_tag(a.image.url(:regular)), {:controller => 'articles', :action => 'show', :id => a.id } %></div>
					<div class="mini_info"><%= a.created_at.strftime('%B' + ' ' + a.created_at.day.ordinalize + ' ' + '%Y') %></div>
					<div class="mini_text"><strong><%= link_to a.title, {:controller => 'articles', :action => 'show', :id => a.id }  %></strong></div>
				</li>
			<% end %>

				<li class="block">


				<div class="mini_image"></div>
					<div class="mini_info"></div>
					<div class="mini_text"><strong></strong></div>
				</li>





		</div>
		
		
		
	</div>
	
	
	
	
	<div id="left" class="side">
		<div id="subs" class="signup">
				
		  	<%= form_for :engage, :html => {:id => "subform"}, url: {action: "create"}, remote: true do |f| %>
		  
	  		<%= f.text_field :email, :maxlength => "30", :onblur => "if (this.value == '') {this.value = 'EMAIL';}", :onfocus => "if(this.value == 'EMAIL') {this.value = '';}", :size => "5", :value => "EMAIL" %>

	  		<%= f.text_field :zip, :maxlength => "5", :onblur => "if (this.value == '') {this.value = 'ZIP';}", :onfocus => "if(this.value == 'ZIP') {this.value = '';}", :size => "5", :value => "ZIP" %>

			<%= f.submit 'Sign Up!', :class => 'subbutton' %>
			<% end %>
		</div>
		<div id= "results"></div>
	</div>
</div>	
